.Delivery {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  height: auto; 
}

  
  .Delivery_block {
    
    margin: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .Delivery_block h1 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
  }
  
  .Delivery_block p {
    font-family: 'Montserrat', sans-serif;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .delivery_img_container {
    max-width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px; 
  }
.Delivery_img{
    width: 150px;
    height: 180px;
    padding-left: 100px;
}